* {
    background-color: black;
    color: aliceblue;
    font-family: 'Comfortaa', cursive;
    line-height: 150%;
}


/* INICIO HEADER */
.header_image {
    width: 60%;
    margin: 10px;
}

h1 {
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content:space-around
}

#h1_logo {
    width: 20%;
}
/* FIN HEADER */


/* INICIO NAVBAR */
#grilla_novedades, #grilla_fotos, #grilla_videos, #grilla_fechas, #grilla_littlemagic {
    display: grid;
    grid-area: navbar;
    grid-template-rows: 100px;
    grid-template-columns: 150px 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    border: 2px solid firebrick;
    text-decoration: none;
}

#logo_navbar {
    width: 60%;
    padding-left: 25px;
    padding-top: 5px;
}

#novedades, #videos, #fotos, #fechas, #littlemagic {
    color: red;
    background-color: aliceblue;
}

.animacion_navbar:hover {
    transform: scale(1.5);
}
/* FIN NAVBAR */


/* INICIO NOVEDADES */
#novedades {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

article {
    border-color: aliceblue;
    border: 2px solid;
    padding: 20px 20px;
    margin: 15px 15px;
}

h3 {
    background-color: white;
    color: firebrick;
    font-weight: bold;
    font-size: 120%;
}

p {
    font-size: 85%;
}

#article_left {
    width: 40%;
}

#article_right {
    width: 40%;
}

img {
    width: 40%;
}

.image-novedades {
    width: 40%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    vertical-align: middle;
}

strong {
    text-decoration: underline;
}
/* FIN NOVEDADES */

/* INICIO FECHAS */
.fechas {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* FIN FECHAS */


/* RESPONSIVE IFRAME */
.container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
}

iframe {
    margin: 10px 10px 10px 10px;
}
/* RESPONSIVE IFRAME */

/* INICIO FOOTER */
footer {
    background-color: white;
}

#social_media {
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.image_social_media {
    background-color: white;
    width: 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}
/* FIN FOOTER */